# Gradle
.gradle/
build/

# Intellij
.idea/
*.iml
*.iws

# Myself
todo.txt

# Ignore all versions in minimal-bluej except the default test one (set by gradle task :acceptance-test:setDefaultBluejVer)
bluej-dist/*
!bluej-dist/3.1.1